.card {
    display: flex;
    align-items: center;
    gap: 24px;

    border: 1px solid black;
    margin: 20px;
}


.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 600px) {
    .card {
        flex-direction: column;
    }
}